PORT = 5001
JWT_SECRET = jwt_secret_key
SENDER_EMAIL = example@gmail.com
EMAIL_PASSWORD = password


# host like gmail
SMPT_HOST = smtp.gmail.com
# gmail port in this case
SMPT_PORT = 465
SMPT_SERVICE = "gmail"